
@{ ViewData["Title"] = "About"; }
@model AboutViewModel

<main>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 aboutText" style="justify-content: center;">
                    <h1>@Model.Settings.FirstOrDefault(x => x.Key == "AboutTitle").Value</h1>
                    <p style=" line-height: 21px; ">
                        @Model.Settings.FirstOrDefault(x => x.Key == "AboutText").Value
                    </p>
                </div>
                <div class="col-lg-5 aboutImage">
                    <img src="~/uploads/settings/@Model.Settings.FirstOrDefault(x => x.Key == "AboutImage").Value" alt="">
                </div>
            </div>
        </div>
    </section>
</main>
