body footer #footUp {
    background-color: #292929;
    padding: 26px 0px 0px 0px;
}

    body footer #footUp .container {
        border: 1px solid #80808024;
    }

        body footer #footUp .container .row .footLeft h6 {
            color: #949494;
            padding: 0px 22px;
            font-size: 18px;
        }

        body footer #footUp .container .row .footLeft p {
            color: gray;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: 3px;
        }

        body footer #footUp .container .row .footMiddle h6 {
            color: #949494;
            padding: 0px 22px;
            font-size: 18px;
        }

        body footer #footUp .container .row .footMiddle p {
            color: gray;
            font-weight: 500;
            font-size: 17px;
            padding: 5px 0px;
        }

        body footer #footUp .container .row .footRight h6 {
            color: #949494;
            padding: 0px 22px;
            font-size: 18px;
        }

        body footer #footUp .container .row .footRight p {
            color: gray;
            font-weight: 500;
            font-size: 17px;
            padding: 5px 0px;
        }

body #footDown {
    background-color: #292929;
    padding: 0px 0px 4px 0px;
}

    body #footDown .container {
             border: 1px solid #80808024;

    }

        body #footDown .container .row .CopyrightText {
            color: gray;
        }
