
@{
    ViewData["Title"] = "Create";
}
@model Company
<h1>Create</h1>
<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="create" asp-controller="companies" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 mb-3">
                                    <label style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Name</label>
                                    <input maxlength="50" asp-for="Name" class="form-control input-default " placeholder="Name">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Title</label>
                                    <input maxlength="50" asp-for="Title" class="form-control input-default " placeholder="Title">
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                              

                                <div style=" display: flex; justify-content: center; align-items: center; " class="col-lg-4 mb-3">
                                    <div class="form-group form-check">
                                        <label asp-for="IsHome" class="control-label" style=" color: #886CC0; font-weight: 700; font-size: 20px; ">
                                            <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(model => model.IsHome)
                                        </label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="IsHome"></span>
                                </div>

                                <div class="col-lg-8 mb-3">
                                    <div class="form-floating">
                                        <textarea style="height:100px; max-height:150px" maxlength="500" class="form-control" asp-for="Description"></textarea>
                                        <label asp-for="Description">Description</label>
                                        <span class="text-danger" asp-validation-for="Description"></span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label style=" color: #886CC0; font-weight: 700; font-size: 20px; " asp-for="PosterImageFile">PosterFile</label>
                                        <input class="form-control" asp-for="PosterImageFile">
                                        <span class="text-danger" asp-validation-for="PosterImageFile"></span>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label style=" color: #886CC0; font-weight: 700; font-size: 20px; " asp-for="ImageFiles">ImageFiles</label>
                                        <input class="form-control" multiple asp-for="ImageFiles">
                                        <span class="text-danger" asp-validation-for="ImageFiles"></span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="mt-4 btn  btn-primary">Create</button>
                                    <a asp-action="index" asp-controller="companies" class="ms-4 mt-4 btn  btn-warning">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
}