@model Company

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />


<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Edit</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label" style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Name</label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label" style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Title</label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 mb-3 d-flex justify-content-center align-items-end ">
                                    <div class="form-group form-check">
                                        <label asp-for="IsHome" class="control-label" style=" color: #886CC0; font-weight: 700; font-size: 20px; ">
                                            <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(model => model.IsHome)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-9 mb-3">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label" style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Description</label>
                                        <textarea style="height:100px; max-height:150px" maxlength="500" asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label style=" color: #886CC0; font-weight: 700; font-size: 20px; " asp-for="PosterImageFile">Poster Resmi</label>
                                            <input class="form-control" asp-for="PosterImageFile">
                                            <span class="text-danger" asp-validation-for="PosterImageFile"></span>
                                            <div id="poster-image-box" class="poster-image-box">
                                                @if (Model.CompanyImages.FirstOrDefault(x => x.PosterStatus == true)?.Image != null)
                                                {
                                                    <img style="width:200px; height:180px;" src="~/uploads/companies/@Model.CompanyImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" />
                                                }
                                            </div>
                                        </div>

                                        <div id="poster-image-box" class="form-group col-md-12">
                                            <label style=" color: #886CC0; font-weight: 700; font-size: 20px; " asp-for="ImageFiles">İlave resimler</label>
                                            <input class="form-control" multiple="" accept="image/png,  image/jpeg, image/webp" asp-for="ImageFiles">
                                            <span class="text-danger" asp-validation-for="ImageFiles"></span>

                                            @foreach (var image in Model.CompanyImages.Where(x => x.PosterStatus == false))
                                            {

                                                @if (Model.CompanyImages.FirstOrDefault(x => x.PosterStatus == false) != null)

                                                {
                                                    <div class="image-box">
                                                        <input type="hidden" name="CompanyImagesIds[]" value="@image.Id" />
                                                        <img style="width:200px; height:160px;" src="~/uploads/companies/@image.Image" />
                                                        <i id="${i}" style="   cursor: pointer; color: red; font-size: 20px; position:absolute; top:10px; right:20px;" onclick="removeFile(${i})" class="fa-solid fa-trash deleteImage"></i>

                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-lg-12 mb-3 mt-2 d-flex justify-content-end">
                                        <div class="form-group">
                                            <a asp-action="index" asp-controller="companies" class="ms-4  me-2 btn  btn-warning">Back</a>
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const p = document.getElementById("imageErrorMessage");
        const fileInput = document.getElementById('imageInput');
        const previewImages = document.getElementById('temperoryImages');
        const selectedFiles = [];
        const dt = new DataTransfer();

        fileInput.onchange = (e) => {
            const files = Array.from(e.target.files);

            if (files.length > 8) {
                p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
            } else {
                if (selectedFiles.length + files.length > 8) {
                    p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
                } else {
                    files.forEach(file => {
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            const src = e.target.result;
                            dt.items.add(file);
                            selectedFiles.push({
                                file: file,
                                src: src,
                                degree: 0,
                            });
                            if (selectedFiles.length <= 8) {
                                setImages();
                            }
                        };
                        reader.readAsDataURL(file);
                    });
                    fileInput.value = null; // Input değerini sıfırla
                }
            }
        };

        const setImages = () => {
            let html = '';

            selectedFiles.forEach((file, i) => {
                if (i < 8) {
                    html += `<div class="imageBox">
                                                      <p id="${i}" onclick="removeFile(${i})"><i class="fa-solid fa-trash"></i></p>
                                                      <img data-image-id="${i}" class="temperorayImage" src="${file.src}" alt="">
                                                  </div>`;
                }
            });

            previewImages.innerHTML = html;
            updateInputFiles();
        };

        const updateInputFiles = () => {
            dt.items.clear();
            selectedFiles.forEach(file => {
                dt.items.add(file.file);
            });
            fileInput.files = dt.files;
        };

        const removeFile = (index) => {
            dt.items.remove(index);
            selectedFiles.splice(index, 1);
            setImages();
        };

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <script src="~/manage/js/CompanyImage.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}