@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<main>

    @* HomeSlider *@
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mainSlider owl-carousel owl-theme">
                        @foreach (var item in Model.CompanySlider)
                        {
                            <div class="item">
                                <a asp-action="detail" asp-controller="company" asp-route-id="@item.Id">
                                    <img style="border-radius:8px;" src="~/uploads/companies/@item.CompanyImages.FirstOrDefault(x=>x.PosterStatus==true).Image"
                                         alt="">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>