
@{
    ViewData["Title"] = "Index";
}
@model DashboardViewModel

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">

                    <div class="col-xl-12">
                        <div class="row">

                       @*     <div class="col-lg-4">
                                <div class="widget-stat card">
                                    <div class="card-body p-4">
                                        <div class="media ai-icon">
                                            <span class="me-3 bgl-primary text-primary">

                                                <i class="fa-solid fa-calendar-day"></i>
                                            </span>
                                            <div class="media-body">
                                                <p style="font-weight:700;" class="text-primary mb-1">@Model.Home.ClickName-CountDay</p>
                                                <h4 class="mb-0">@Model.HomeCountDay</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
*@
                         
                        </div>
                    </div>



                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="widget-stat card bg-success">
                                            <div class="card-body p-4">
                                                <div class="media">
                                                    <span class="me-3">
                                                        <i class="flaticon-381-diamond"></i>
                                                    </span>
                                                    <div class="media-body text-white text-end">
                                                        <p class="mb-1">Companies</p>
                                                        <h3 class="text-white">0</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="widget-stat card bg-info">
                                            <div class="card-body p-4">
                                                <div class="media">
                                                    <span class="me-3">
                                                        <i class="flaticon-381-heart"></i>
                                                    </span>
                                                    <div class="media-body text-white text-end">
                                                        <p class="mb-1">Today Visit</p>
                                                        <h3 class="text-white">0</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="widget-stat card bg-danger">
                                            <div class="card-body  p-4">
                                                <div class="media">
                                                    <span class="me-3">
                                                        <i class="flaticon-381-calendar-1"></i>
                                                    </span>
                                                    <div class="media-body text-white text-end">
                                                        <p class="mb-1">Month Visited</p>
                                                        <h3 class="text-white">0</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-sm-6">
                                        <div class="widget-stat card bg-primary">
                                            <div class="card-body p-4">
                                                <div class="media">
                                                    <span class="me-3">
                                                        <i class="flaticon-381-user-7"></i>
                                                    </span>
                                                    <div class="media-body text-white text-end">
                                                        <p class="mb-1">Today Companys Visited</p>
                                                        <h3 class="text-white">@Model.TodayComVisited</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
   
}