@{
    ViewData["Title"] = "Index";
}

@model List<Setting>

<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="displ card-header">
                        <h4 class="card-title">
                            setting Panel
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                        <th>ModifiedDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var setting in Model)
                                    {
                                        <tr>
                                            <td>@setting.Key</td>

                                            <td>
                                                @if (setting.Value != null && setting.Key.EndsWith("Image"))
                                                {
                                                    <img src="~/uploads/settings/@setting.Value" style="witdh:50%" height="100" />
                                                }
                                                else
                                                {
                                                    @(setting.Value?.Length < 50 ? setting.Value : setting.Value?.Substring(0, 50) + "...")
                                                }
                                            </td>

                                            <td>@setting.ModifiedDate</td>
                                            <td class="text-center">
                                                <a class="btn btn-warning mb-1" asp-action="edit" asp-controller="setting" asp-route-id="@setting.Id">Edit</a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                        <th>ModifiedDate</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/manage/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/manage/js/plugins-init/datatables.init.js"></script>
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}